body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}

#dvd {
    display: none;
    position: absolute;
    z-index: -1;
}

p {
    position: absolute;
    bottom: 0;

    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Tahoma, Geneva, sans-serif;

    padding: 8px;
    margin-left: 8px;
}

p:nth-child(2) {
    margin-bottom: 145px;
}

p:nth-child(3) {
    margin-bottom: 102px;
}

p:nth-child(4) {
    margin-bottom: 59px;
}
